
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body{
    padding-top: 60px;
    margin: 0;
    background-color:#f6f6f6 ;
}

.navegador{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
    padding: 7px;
    width: 30ch;
}


.navegador a:hover{
    color: #7f7f7f;
}

.navegador a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    transition: 0.2s;
    
}



.tituloDesinfectantes{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 500px;
    margin:auto;
    border-bottom: 1px solid #dee2e6;
}

.tituloDesinfectantes h1{
    padding: 0;
    margin-top: 15px;
    margin-bottom: 0;
    color: #656565;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.contedor1{
    display: flex;
    justify-content: space-between;
    
}

.catalogo{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 15px;
    margin-left: 22px;
}

.aside_container:nth-child(6){
    grid-column: 3/4;
    grid-row: 1 / 4;
}

.item-catalogo:nth-child(5){
    grid-column-start: span 2;
}

#ultimo{
    object-fit: contain;
}

#ultimo img{
    height: 150px;
}

.aside_container{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    padding: 7px;
    object-fit: contain;
}

.aside_container h1{
    font-size: 27px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.aside_container #anmat{
    margin-left: 50px;
}

.aside_container img{
    transition: all 500ms ease;
}

.aside_container img:hover{
    transform: scale(1.2);
}
.aside_container span{
    font-size: 19px;
    margin-bottom: 30px;
}

.item-catalogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #dee2e6;
}

.item-catalogo img{
    width: 100%;
   object-fit: fill;
}

.item-catalogo #title{
    font-weight: bold;
    color: #646464;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
}

.backForm{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #1344ae;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #7f7f7f;
    margin-bottom: 40px;
}


.backForm h6{
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 17px;
    
}

.backForm a{
    color: #fff;
    text-decoration: none;
    transition: all 500ms ease;
}

.backForm a:hover{
  color: #d5d5d5;
}



